.occasions__link {
    text-decoration: none;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: inherit;
    text-transform: capitalize;
    padding: 0 0 29px 22px; 
    display: block;