.cta__button-gift {
    cursor: pointer;
    padding: 0 36px 0 35px;
    border: none;
    font: inherit;
    color: white;
    background-color: #231F20;
    border-radius: 5px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0 14px 0;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 980px) {
    .cta__button-gift {
        padding: 15px 36px 14px 35px;
    } 
}