.cta__button-gift {
    cursor: pointer;
    padding: 0 42px 0 42px;
    border: none;
    font: inherit;
    color: white;
    background-color: #231F20;
    border-radius: 5px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 95px 0 93px 233px;
}