.occasions {
    margin-bottom: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

@media screen and (max-width: 1230px) {
    .occasions {
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 450px) {
    .occasions {
        margin-bottom: 60px;
        padding: 0;
    }
}