.popup__container {
    background-color: #F7941E;
    border-radius: 6px;
    max-width: 600px;
    position: absolute;
    display: flex;
    flex-direction: column;
    box-shadow: rgb(20, 19, 19, 0.5);
    align-items: center;
    top: 80px;
    padding: 40px 40px;
    margin: 20px 30px;
}