.suggestion__texts {
    padding: 20% 22% 19% 22%;
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .suggestion__texts {
        padding: 15% 15% 15% 15%;
    }
}

@media screen and (max-width: 767px) {
    .suggestion__texts {
        padding: 5% 10% 10% 10%;
    }
}