.popup__button {
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    padding: 20px 35px 19px 37px;
    border: none;
    font-family: inherit;
    color: white;
    background-color: #000000;
    border-radius: 5px;
    margin: 20px auto;  
}

@media screen and (max-width: 767px) {
    .popup__button {
        margin: 5px auto 15px auto;  
    }
}