.header__logo {
    padding: 47px 0 0 80px;
    display: block;
    cursor: pointer;

}

@media screen and (max-width: 900px) {
    .header__logo {
        padding: 47px 0 0 47px;
    }
}

@media screen and (max-width: 767px) {
    .header__logo {
        justify-self: flex-start;
        align-self: flex-start;
    }
}

@media screen and (max-width: 550px) {
    .header__logo {
        padding: 30px 0 0 30px;
    }
}