.footer__link {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    display: block;
    font-weight: 700;
    margin: 0;
}

.footer__item:nth-child(3) {
    text-align: right;
}