.suggestion__title {
    font-size: 56px;
    line-height: 68px;
    margin: -2px 0 0 2px;
}

@media screen and (max-width: 1200px) {
    .suggestion__title {
        font-size: 40px;
        line-height: 56px;
        margin: 0;
    }
}

@media screen and (max-width: 767px) {
    .suggestion__title {
        text-align: center;
    }
}