.occasions__name {
    font-size: 20px;
    line-height: 24px;
    text-align: start;
    margin: 18px 0 76px 23px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}