.occasions__title {
    margin: 85px auto 26px auto;
    text-align: center;
    font-size: 32px;
    line-height: 38px;
    font-weight: 400;
    max-width: 95%;
}

@media screen and (max-width: 500px) {
    .occasions__title {
        font-size: 22px;
        line-height: 28px;
    }  
}