.instruction__button {
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #F7941E;
    border: 1px solid #F7941E;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 3px;
    padding: 18px 45px 17px 48px;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .instruction__button {
        margin: 0 auto;
    }
}