.header__button {
    border: 1px solid #F7941E;
    font-size: 18px;
    line-height: 22px;
    color: #F7941E;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 9px 24px;
    text-transform: uppercase;
    margin: 39px 33px 0 33px;
    background-color: transparent;
    font-family: 'Gilroy', 'Arial', sans-serif;
}

@media screen and (max-width: 767px) {
    .header__button  {
        align-self: center;
        margin: 40px auto;
        padding: 9px 96px;
    }
}