.cta__button-instruction {
    cursor: pointer;
    padding: 0 34px 0 33px;
    border: solid black 1px;
    font: inherit;
    background-color: transparent;
    border-radius: 5px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0 14px 16px;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

@media screen and (max-width: 980px) {
    .cta__button-instruction {
        padding: 15px 36px 14px 35px;
        margin:  0 0 15px 0;
    } 
}