.instruction__title {
    margin: 2px 0 0 3px;
    font-size: 32px;
    line-height: 45px;
    font-weight: 400;
}

@media screen and (max-width: 767px) {
    .instruction__title {
        text-align: center;
    }
}