.intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 37px;
    background-color: #F1F1F2;
    max-width: 1440px
}

@media screen and (max-width: 767px) {
    .intro {
        margin-top: 10px;
    }
}