.instruction__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.instruction__img:hover {
    box-shadow: 0px 0px 25px rgb(0 0 0 / 25%);
}

.instruction__img:focus {
    box-shadow: 0px 0px 25px rgb(0 0 0 / 25%);
}

@media screen and (max-width: 1200px) {
    .instruction__img {
        object-fit: contain;
        object-position: top;
    }
}

@media screen and (max-width: 1023px) {
    .instruction__img {
        padding-top: 13%;
    }
}

@media screen and (max-width: 767px) {
    .instruction__img {
        max-height: 300px;
        padding: 0;
    }
}