.instruction__caption {
    margin: 25px 0 42px 3px;
    font-size: 20px;
    line-height: 28px;
    text-align: justify;
}

@media screen and (max-width: 767px) {
    .instruction__caption {
        text-align: center;
    }
}