.occasions__cards {
    list-style: none;
    margin: 0 auto;
    padding: 0 0 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

@media screen and (max-width: 1230px) {
    .occasions__cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px 30px;
    }
}

@media screen and (max-width: 630px) {
    .occasions__cards {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 30px 30px;
    }
}