.popup__close-button {
    background-image: url("../../../images/cancel.png");
    background-position: center;
    background-size: contain;
    cursor: pointer;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    position: absolute;
    top: -24px;
    right: -24px;
    width: 25px;
    height: 25px;
}

@media screen and (max-width: 650px) {
    .popup__close-button{
        top: 15px;
        right: 15px;
    }
}