.footer__nav {
    width: 70%;
    margin: 0 auto;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .footer__nav {
        width: 95%;
        border-bottom: 1px solid black;
    }
}