.blog__section {
    background-color: #231F20;
    max-width: 1170px;
    min-width: 320px;
    display: flex;
    margin: 77px auto 47px auto;
    align-items: flex-start;
}

@media screen and (max-width: 760px) {
    .blog__section {
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }
}

@media screen and (max-width: 450px) {
    .blog__section {
        padding-top: 0;
    }
}