.footer__item {
    min-width: 119px;
}

.footer__item:nth-child(2) {
    margin-right: auto;
}

@media screen and (max-width: 767px) {
    .footer__item {
        min-width: none;
    }
}
@media screen and (max-width: 550px) {
    .footer__item {
        margin-bottom: 20px;
    }
}