@import url(../vendor/normalize.css);
@import url(../fonts/inter.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__list/header__list.css);
@import url(../blocks/header/__item/header__item.css);
@import url(../blocks/header/__button/header__button.css);

@import url(../blocks/main/main.css);

@import url(../blocks/footer/footer.css);

