@import url(../vendor/normalize.css);
@import url(../fonts/inter.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__list/header__list.css);
@import url(../blocks/header/__item/header__item.css);
@import url(../blocks/header/__button/header__button.css);
@import url(../blocks/header/__link/header__link.css);

@import url(../blocks/main/main.css);

@import url(../blocks/intro/intro.css);

@import url(../blocks/suggestion/suggestion.css);
@import url(../blocks/suggestion/__texts/suggestion__texts.css);
@import url(../blocks/suggestion/__title/suggestion__title.css);
@import url(../blocks/suggestion/__caption/suggestion__caption.css);
@import url(../blocks/suggestion/__button/suggestion__button.css);
@import url(../blocks/suggestion/__img/suggestion__img.css);

@import url(../blocks/instruction/instruction.css);
@import url(../blocks/instruction/__texts/instruction__texts.css);
@import url(../blocks/instruction/__img/instruction__img.css);
@import url(../blocks/instruction/__title/instruction__title.css);
@import url(../blocks/instruction/__caption/instruction__caption.css);
@import url(../blocks/instruction/__button/instruction__button.css);


@import url(../blocks/footer/footer.css);

