.footer__list {
    list-style: none;
    margin: 110px 0 57px -10px;
    padding: 0 0 0 0;
    display: flex;
    justify-content: space-between;
    width: 698px;
}

@media screen and (max-width: 767px) {
    .footer__list {
        margin: 75px 0 40px 0;
        width: auto;

    }
}

@media screen and (max-width: 550px) {
    .footer__list {
        flex-direction: column;
        align-content: center;
        
    }
}