.suggestion__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 1200px) {
    .suggestion__img {
        object-fit: contain;
        object-position: top;
    }
}

@media screen and (max-width: 1023px) {
    .suggestion__img {
        object-fit: contain;
        object-position: top;
        padding-top: 18%;
    }
}

@media screen and (max-width: 767px) {
    .suggestion__img {
        padding: 0;
        object-position: center;
        max-height: 300px;
    }
}