.header__list {
    list-style: none;
    display: -webkit-flex;
    display: flex;
    margin: 0;
    padding: 45px 0 0 58px;
    justify-content: space-between;
    min-width: 311px;
}

@media screen and (max-width: 900px) {
    .header__list {
        padding: 45px 45px 0 45px;
    }
}

@media screen and (max-width: 550px) {
    .header__list {
        flex-direction: column;
        padding: 30px 0 0 0;
        min-width: 205px;
    }
}