.miner-blog__article {
    max-width: 570px;
    padding: 32px 64px 54px 48px;
}

@media screen and (max-width: 850px) {
    .miner-blog__article {
        max-width: 570px;
        padding: 25px 7% 25px 7%;
    }
 }