.minor-blog__unwrapper {
    font-size: 14px;
    text-align: 20px;
    font-weight: 400;
    text-align: left;
    margin: 0 0 0 0;
    cursor: pointer;
    padding: 0 0 0 0;
    border: none;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
}