.instruction {
    display: grid;
    grid-template-columns: 50% 50%;
}

@media screen and (max-width: 767px) {
    .instruction {
        display: flex;
        flex-direction: column-reverse;
    }
}
